<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>



<style>

a:link, a:visited {
    background-color: #4477dd;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}


a:hover, a:active {
    background-color: #dbd421;
}

#less, #desc, #see, #hear, #have, #guide, #work, #add, #proud {
  resize: none; 
}

h1 {
  font-family: Georgia;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-style: groove;
  border-color: #8cb8ff;
  border-width: 4px;
  border-radius: 5px;
}

.container {
  border-style: groove;
  border-color: #8cb8ff;
  border-width: 4px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.row{
  padding-left: 10px;
  padding-top: 10px;
}

</style>

<div id="section-top"
style="display: flex;
    justify-content: center;
    padding: 5px;">

  <div id="block">
    <img id="logo" src="https://localegg.herokuapp.com/images/logo.png">
  </div>

  <div id ="block2"
  style="padding-top: 10%;
      padding-left: 10%;">

    <span id='dedicated' style = "font-size: 40px; font-family: Georgia; color: #084c8d; font-weight: bold"> Dedicated to the promotion of local youth. <span>
  </div>
</div>



<center> <h1>Apply</h1> </center>
<strong> <div style = "background: #cc5555; 
                  font-size: 20px;
                  border-radius: 4px;" id='warning'> {{errors}}</div> </strong>
<div class="container">
    <div class="row">
 <form action="/apply" method="post">


    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" name="name" style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <input type="city" class="form-control" id="city" name="city" style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="state">State:</label>
      <input type="state" class="form-control" id="state" maxlength = "2" name="state" style="width: 50px;">
    </div>

    <div class="form-group">
      <label for="zip">Zip Code:</label>
      <input type="zip" class="form-control" id="zip" name="zip" style="width: 80px;" maxlength = "5">
    </div>

    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="phone" class="form-control" id="phone" name="phone" style="width: 150px;">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email"  style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="age">Age/Grade:</label>
      <input type="age" class="form-control" id="age" name="age" style="width: 150px;">
    </div>

    <div class="form-group">
      <label for="school">School:</label>
      <input type="school" class="form-control" id="school" name="school" style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="refer">Referred by:</label>
      <input type="refer" class="form-control" id="refer" name="refer" style="width: 250px;">
    </div>

          <div class="form-group">
      <label for="desc"> Provide a brief description of your request, need and timing.</label>
      <textarea style="width: 450px;" rows = '4' cols = '70' type="desc" class="form-control" id="desc" name="desc">
        </textarea>
    </div>

          <div class="form-group">
      <label for="less"> What are your educational interests and goals? </label>
      <textarea type="less" class="form-control" style="width: 450px;" id="less" name="less" rows = '4' cols = '70'>
      </textarea>
    </div>

    <div class="form-group">
      <label for="proud"> Of what accomplishment are you most proud? </label>
      <textarea type="proud" class="form-control" style="width: 450px;" id="proud" name="proud" rows = '4' cols = '70'>
      </textarea>
    </div>

     <div class="form-group">
      <label for="see"> How do you see these funds making a difference in your life?</label>
      <textarea style="width: 450px;" rows = '4' cols = '70' type="see" class="form-control" id="see" name="see">
         </textarea>
    </div>

    <div class="form-group">
      <label for="hear"> How did you hear about the The Local Egg Foundation?</label>
      <textarea style="width: 450px;" rows = '2' cols = '40' type="hear" class="form-control" id="hear" name="hear">
      </textarea>
    </div>

    <div class="form-group">
      <label for="have"> Have you requested funds for this need elsewhere? If yes, where?</label>
      <textarea style="width: 450px;" rows = '2' cols = '40' type="have" class="form-control" id="have" name="have">
      </textarea>
    </div>

    <div class="form-group">
      <label for="add"> Is there any additional information you would like us to consider? </label>
      <textarea style="width: 450px;" rows = '5' cols = '70' type="add" class="form-control" id="add" name="add">
      </textarea>
    </div>

    <h3> References </h3>

    <div class="form-group" style = "margin-left: 30px;">
      <label for="guide"> Guidance Counselor: Name and Contact Information</label>
      <textarea style="width: 280px;" rows = '2' cols = '40' type="guide" class="form-control" id="guide" name="guide">
      </textarea>
    </div>

    <div class="form-group" style = "margin-left: 30px;">
      <label for="work"> Work / Extracurricular Reference: Name and Contact Information</label>
      <textarea style="width: 280px;" rows = '2' cols = '40' type="work" class="form-control" id="work" name="work">
      </textarea>
    </div>

    <div>
    I certify that all information in this application is complete and accurate to the best of my knowledge. <br>I will notify The Local Egg Foundation if there are any changes.
    </div>

    <div class="form-group" style = "margin-left: 30px;">
      <label for="sign">Signature:</label>
      <input type="sign" class="form-control" id="sign" name="sign" style="width: 250px;">
    </div>

    <div class="form-group" style = "margin-left: 30px;">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" name="date" style="width: 250px;">
    </div>


    <br>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>

  </div>
</div>

<div id="bottom" style="padding-bottom: 5px;">
  <center style="font-size: 20px;">
  <a href="/">Home</a>
  <a href="/contact">Contact Us</a>
  <a href="/apply">Apply</a>
  
  </center>
</div>

<center>
  Copyright © 2012 The Local Egg Foundation - All Rights Reserve  
</center>