<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>



<style>

a:link, a:visited {
    background-color: #4477dd;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}


a:hover, a:active {
    background-color: #dbd421;
}

#less, #desc, #see, #hear, #have {
  resize: none; 
}


</style>

<div id="section-top"
style="display: flex;
    justify-content: center;
    padding: 5px;">

  <div id="block">
    <img id="logo" src="http://localhost:3000/images/logo.png">
  </div>

  <div id ="block2"
  style="padding-top: 10%;
      padding-left: 10%;">

    <span id='dedicated' style = "font-size: 40px; font-family: Georgia; color: #084c8d; font-weight: bold"> Dedicated to the promotion of local youth. <span>
  </div>
</div>



<h1>Apply</h1>
<strong> <div style = "background: #cc5555; 
                  font-size: 20px;
                  border-radius: 4px;" id='warning'> {{errors}}</div> 
<div class="container">
    <div class="row">
 <form action="/apply" method="post">


    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" name="name" style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <input type="city" class="form-control" id="city" name="city" style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="state">State:</label>
      <input type="state" class="form-control" id="state" maxlength = "2" name="state" style="width: 50px;">
    </div>

    <div class="form-group">
      <label for="zip">Zip Code:</label>
      <input type="zip" class="form-control" id="zip" name="zip" style="width: 80px;" maxlength = "5">
    </div>

    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="phone" class="form-control" id="phone" name="phone" style="width: 150px;">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email"  style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="age">Age/Grade:</label>
      <input type="age" class="form-control" id="age" name="age" style="width: 150px;">
    </div>

    <div class="form-group">
      <label for="school">School:</label>
      <input type="school" class="form-control" id="school" name="school" style="width: 250px;">
    </div>

    <div class="form-group">
      <label for="refer">Referred by:</label>
      <input type="refer" class="form-control" id="refer" name="refer" style="width: 250px;">
    </div>


      <div class="form-group">
      <label for="less"> If your request is less than $200, please provide a description of your request, need and timing:</label>
      <textarea type="less" class="form-control" style="width: 350px;" id="less" name="less" rows = '4' cols = '50'>
      </textarea>
    </div>

      <div style="
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;">
      If your request is greater than $200, please answer the questions below.
      </div>

          <div class="form-group">
      <label for="desc"> Provide a brief description of your request, need and timing.</label>
      <textarea style="width: 350px;" rows = '4' cols = '50' type="desc" class="form-control" id="desc" name="desc">
        </textarea>
    </div>

     <div class="form-group">
      <label for="see"> How do you see these funds making a difference in your life?</label>
      <textarea style="width: 350px;" rows = '4' cols = '50' type="see" class="form-control" id="see" name="see">
         </textarea>
    </div>

    <div class="form-group">
      <label for="hear"> How did you hear about the The Local Egg Foundation?</label>
      <textarea style="width: 350px;" rows = '4' cols = '50' type="hear" class="form-control" id="hear" name="hear">
      </textarea>
    </div>

    <div class="form-group">
      <label for="have"> Have you requested funds for this need elsewhere? If yes, where?</label>
      <textarea style="width: 280px;" rows = '2' cols = '40' type="have" class="form-control" id="have" name="have">
      </textarea>
    </div>

    <div>
    I certify that all information in this application is complete and accurate to the best of my knowledge. <br>I will notify The Local Egg Foundation if there are any changes.
    </div>

    <div class="form-group" style = "margin-left: 30px;">
      <label for="sign">Signature:</label>
      <input type="sign" class="form-control" id="sign" name="sign" style="width: 250px;">
    </div>

    <div class="form-group" style = "margin-left: 30px;">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" name="date" style="width: 250px;">
    </div>


    <br>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>

<div id="section-middle">
  <center style="font-size: 20px;">
  <a href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/apply">Apply</a>
  
  </center>
</div>

<center>
  Copyright © 2012 The Local Egg Foundation - All Rights Reserve  
</center>