<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

<style>

a:link, a:visited {
    background-color: #4477dd;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}


a:hover, a:active {
    background-color: #dbd421;
}

.container {
  /*margin-left: 50%;*/
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#contact_left {
  background-color: green;
  border-width: 5px;
  border-color: blue;
  border-radius: 2px;
}

#comments {
  resize: none; 
}

</style>



<div id="section-top"
style="display: flex;
    justify-content: center;
    padding: 5px;">

  <div id="block">
    <img id="logo" src="http://localhost:3000/images/logo.png">
  </div>

  <div id ="block2"
  style="padding-top: 10%;
      padding-left: 10%;">

    <span id='dedicated' style = "font-size: 40px; font-family: Georgia; color: #084c8d; font-weight: bold"> Dedicated to the promotion of local youth. <span>
  </div>
</div>

<!-- <div id="contact_sections"
style="display: flex;
    padding: 5px;">

<div id="contact_left">
Hello amicum
</div> -->
<center style="padding-bottom: 5px;"> <h1> Contact Us </h1> </center>
<div class="container">
  <strong> <div style = "background: #cc5555; 
                  font-size: 20px;
                  border-radius: 4px;" id='warning'> {{errors}}</div> 
  <div class="row">
     <form action="/contact" method="post">


        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" name="name" style="width: 250px;">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" style="width: 250px;">
        </div>
        <div class="form-group">
          <label for="phone">Phone Number:</label>
          <input type="phone" class="form-control" id="phone" name="phone" style="width: 160px;">
        </div>
          <div class="form-group">
          <label for="comments">Comments:</label>
          <textarea rows = '4' cols = '50' class='form-control' name = "comments" id="comments"> Comments </textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
</div>

<!-- </div> -->

<div id="section-middle">
  <center style="font-size: 20px;">
  <a href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/apply">Apply</a>
  
  </center>
</div>

<center>
  Copyright © 2012 The Local Egg Foundation - All Rights Reserve  
</center>