<html>


<head>
	<meta charset = "utf-8">
	<link rel="stylesheet" type = "text/css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">   
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

<style>
.button {
    background-color: #DBAF50;
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
	}

.button1:hover {
    background-color: #ECBF60;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 4px;
}

li {
    float: left;
}


/* Change the link color to #111 (black) on hover */


.active {
    background-color: #4CAF50;
}

a:link, a:visited {
    background-color: #4477dd;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}


a:hover, a:active {
    background-color: #dbd421;
}

.mission_box{
	border-style: groove;
	border-color: #8cb8ff;
	border-width: 4px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;

}

.mission {
	margin-left: 45px;
	font-size: 16px; 
	font-family: Georgia; 

}

h3 {
	font-family: Georgia;
}

</style>

</head>

<!-- <body style="background-color: rgba(150,200,240,.9)">
 -->


<div id="section-top"
style="display: flex;
		justify-content: center;
		padding: 5px;">

	<div id="block">
		<img id="logo" src="https://localegg.herokuapp.com/images/logo.png">
	</div>

	<div id ="block2"
	style="padding-top: 10%;
			padding-left: 10%;">

		<span id='dedicated' style = "font-size: 40px; font-family: Georgia; color: #084c8d; font-weight: bold"> Dedicated to the promotion of local youth. <span>
	</div>
</div>
<center>
<div
style = "margin-bottom: 10px;
	font-size: 20px; 
	font-family: Georgia;
	margin-top: 20px;
	margin-bottom: 40px;">

The Local Egg Foundation is a private non-profit foundation based in Saratoga Springs, New York. <br> We are united in our mission to give those in our community the support needed to find success
</div>
</center>

<div class = "mission_box">
	<h3> Mission Statement: </h3>
	<div class="mission">
	Providing resources to individuals to support their efforts in realizing their potential. Primarily focusing on local youth who are making choices that facilitate their growth in becoming responsible adults who will make positive contributions to society.
	</div>
</div>

<div class = "mission_box" style= "margin-top: 10px;">
	<h3> Vision Statement: </h3>
	<div class="mission">
	A community where individuals are given the support and tools needed to succeed, thereby providing hope in reaching their potential, and subsequently strengthening our community.
	</div>
</div>

<!-- <center>
<div
style = "margin-bottom: 10px;
	font-size: 20px; 
	font-family: Georgia;
	margin-top: 20px;
	margin-bottom: 40px;">

Contact Us or Apply by clicking below. <br> Alternatively you can send an email to thelocalegg@gmail.com <br> Or send a letter to P.O. Box 3446, Saratoga Springs, New York 12866
</div>
</center> -->

<div id="section-bottom" 
	style="padding-top: 5px;
			padding-bottom: 10px;">
	<center style="font-size: 20px;">
	<a href="/">Home</a>
	<a href="/contact">Contact Us</a>
	<a href="/apply">Apply</a>
	</center>
</div>
<!--
<center style="font-size: 25px;"> <span style="color: yellow"> THE LOCAL EGG FOUNDATION </span> IS DEDICATED TO SERVING LOCAL YOUTH IN SARATOGA COUNTY.</center>

<div id="section-bottom"
style="display: flex;
		justify-content: center;
		padding: 5px;
		color: white;">

	<div id="block_bottom1"
		style="padding-left: 3%;
				padding-right: 3%;
				margin-left: 2%;
				margin-right: 2%;
			background-color: white;
			border-radius: 5px;">
		<center> <h3 style="background-color: #084c8d; 
			border-radius: 5px; 
			padding-left: 5px;"> 
			> Mission Statement: </h3> </center>
		<div
			style = "font-size: 15px; color: black;">
		PROVIDING RESOURCES TO INDIVIDUALS TO SUPPORT THEIR EFFORTS IN REALIZING THEIR POTENTIAL. PRIMARILY FOCUSING ON LOCAL YOUTH WHO ARE MAKING CHOICES THAT FACILITATE THEIR GROWTH IN BECOMING RESPONSIBLE ADULTS WHOL WILL MAKE POSITIVE CONTRIBUTIONS TO SOCIETY.
		</div>
	</div>

	<div id="block_bottom2"
			style="padding-left: 3%;
				padding-right: 3%;
				margin-left: 2%;
				margin-right: 2%;
				background-color: white;
				border-radius: 5px;">
		<h3 style="background-color: #084c8d; 
			border-radius: 5px; 
			padding: 5px;"> 
			 > Vision Statement: </h3>
		<div
			style = "font-size: 15px; color: black;">
			A COMMUNITY WHERE INDIVIDUALS ARE GIVEN THE SUPPORT AND TOOLS NEEDED TO SUCCEED, THEREBY PROVIDING HOPE IN REACHING THEIR POTENTIAL, AND SUBSEQUENTLY STRENGTHENING OUR COMMUNITY.
		</div>
	</div>

	<div id="block_bottom3"
			style="padding-left: 3%;
				padding-right: 3%;
				margin-left: 2%;
				margin-right: 2%;
				background-color: white;
				border-radius: 5px;">
		<h3 style="background-color: #084c8d; 
			border-radius: 5px; 
			padding: 5px;"> 
			 > Apply Now: </h3>
		<div
			style = "font-size: 15px; color: black;">
		EASY PROCESS TO APPLY, CLICK HERE FOR APPLICATION.
		</div>
		<button class="button button1" style='color: black'> Apply </button>
	</div>
</div> -->


<center>
	Copyright © 2012 The Local Egg Foundation - All Rights Reserve	
</center>
